<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- creating object for engine class using default constructor -->
    <bean id = "engine" class="com.blab.entity.Engine"/>
    <!-- creating object for car class using default constructor or zero parameter constructor  -->
    <bean id="car1" class="com.blab.entity.Car" autowire="byType" >
        <!--  passing value to private variable model by using setter method -->
        <property name="model" value="Tesla"/>

    </bean>
    <!-- creating object for car class using default constructor or zero parameter constructor  -->
    <bean id="car2" class="com.blab.entity.Car" autowire="byType">
        <!--  passing value to private variable model by using setter method -->
        <property name="model" value="benz"/>

    </bean>
    <!-- creating object for car class using default constructor or zero parameter constructor  -->
    <bean id="car3" class="com.blab.entity.Car" autowire="byType">
        <!--  passing value to private variable model by using setter method -->
        <property name="model" value="audi"/>

    </bean>
    <bean id="garage" class="com.blab.entity.Garage">
        <property name="cars">
            <list>
                <ref bean="car1"/>
                <ref bean="car2"/>
                <ref bean="car3"/>
            </list>
        </property>
    </bean>

</beans>