<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- creating object for engine class using default constructor -->
    <bean id = "engine" class="com.blab.entity.Engine"/>
    <!-- creating object for car class using default constructor or zero parameter constructor  -->
    <bean id="car" class="com.blab.entity.Car" >
        <constructor-arg ref="engine"/>
    </bean>
</beans>